{% include 'global/index.html' %}
<body> 
    {% include 'global/partials/header.html' %}
    <main>
        <section>
            <div>
                <h2 id = 'div__h2_01'>Adventure Travel</h2>
                <h2 id = 'div__h2_02'>Connecting you to your dreams!</h2>
                <hr>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium officia at dolore sit amet tempora aut corporis facere ducimus libero quam neque atque illumInventore sunt totam consequuntur ipsum, quisquam nam non aut accusamus aliquid dolorum recusandae, quidem debitis. Rem suscipit fugiat fuga placeat corporis rerum!
                </p>
            </div>
        </section>
        <article>
            <div>
                <h2 id = 'div__h2_03'>Active people</h2>
                <h2 id = 'div__h2_04'>Who we are?</h2>
                <hr>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium officia at dolore sit amet aut accusamus aliquid dolorum recusandae, quidem debitis. Rem suscipit fugiat fuga placeat corporis rerum!
                </p>
            </div>
        </article>
    </main>
    <address class = "container address__space">
        <div class = "row">
            <div class = "col">
            <h3>E-MAIL</h3>
            <i class = "bi bi-envelope"></i>
            <span>contact@adventuretravel.com</span>
            </div>

            <div class = "col">
                <i class = "bi bi-telephone"></i>
                <h3>Phones</h3>
                <span> (88) 482-555-0100 | (55) 5550.100</span>
            </div>
        </div>         
    </address>     
{% include 'global/partials/footer.html' %}
</body>